{% extends 'base.html.twig' %}



{% block body %}

<section class="articles">
<h2>Liste des Personnes</h2>

<a href="{{ path('identity') }}" class="btn btn-primary">  Voir  </a>

</section>

{% endblock %}
